{% if resume.certificate.size > 0 %}
<section>
  <div class="npb">
  <h2 id="education" class="h3 hr-bottom">
    {{ strings.resume.certificate | default:"Certificate" }}
    <span class="symbol {{ icons.certificate | default:'icon-library' }}"></span>
  </h2>
  {% for edu in resume.certificate %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <p class="faded">
        <time datetime="{{ edu.date | date_to_xmlschema}}">{{ edu.date | date:from_to_format }}</time>
      </p>
      <h3 class="h4 faded">
        {% capture certificate %}<span class="bc">{{ edu.certificate }}</span>{% endcapture %}
        {{ strings.resume.certificate
          | default:"<!--certificate-->"
          | replace:"<!--certificate-->", institution
        }}
      </h3>
    </header>
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
