{% if resume.certificate.size > 0 %}
<section>
  <div class="npb">
  <h2 id="education" class="h3 hr-bottom">
    {{ strings.resume.certificate | default:"Certificate" }}
    <span class="symbol {{ icons.certificate | default:'icon-library' }}"></span>
  </h2>
  {% for edu in resume.certificate %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <p class="faded">
        <time datetime="{{ edu.date | date_to_xmlschema}}">{{ edu.date | date:from_to_format }}</time>
      </p>
      <h3 class="h4 faded">
        {% capture area %}<span class="bc">{{ edu.area }}</span>{% endcapture %}
        {% capture institution %}<span class="bc">{{ edu.institution }}</span>{% endcapture %}
        {{ strings.resume.certificate_title
          | default:"<!--area--> from <!--institution-->"
          | replace:"<!--area-->", area
          | replace:"<!--institution-->", institution
        }}
      </h3>
    </header>
    {% include components/message.html class="note" text=edu.summary alt="" %}

    {% if edu.highlights.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.highlights | default:"Highlights" }}</h4>
    <ul>
      {% for highlight in work.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
