---
layout: about
---
{% assign nodes = site.html_pages | concat: site.documents %}

   {{ content }}

{% if content contains "<!--powerbi-->" %}
  {% capture posts_x %}
    {% if site.powerbi.size > 0 %}
      <div class="columns mt2 {% unless no_third_column %}columns-break{% endunless %}">
        {% assign ordered_powerbi = site.powerbi | sort:"date" | reverse %}
        {% for post in ordered_powerbi limit:4 %}
          <div class="column column-1-2">
            {% include_cached pro/post-card.html post=post %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endcapture %}
  {% assign content = content | replace:"<!--powerbi-->", posts_x %}
{% endif %}

{% if content contains "<!--tableau-->" %}
  {% capture posts_x %}
    {% if site.tableau.size > 0 %}
      <div class="columns mt2 {% unless no_third_column %}columns-break{% endunless %}">
        {% assign ordered_tableau = site.tableau | sort:"date" | reverse %}
        {% for post in ordered_tableau limit:4 %}
          <div class="column column-1-2">
            {% include_cached pro/post-card.html post=post %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endcapture %}
  {% assign content = content | replace:"<!--tableau-->", posts_x %}
{% endif %}

